.form-text {
  width: 400px;
  max-width: 600px;
}

.node {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.submitted {
  border-radius: 2px;
  font-size: 18px;
  margin: 0px 2px;
  padding: 2px 4px;
}

/*Page outline elements*/
#wrap {
  border-top: 10px solid #96c8c8;
  margin: 0px;
  min-width: 0px;
  padding: 0px;
  width: 100%;
}

body {
  font-size: 22px;
}

h2,
h3 {
  font-size: 26px;
  margin: 0px 2px;
}

#logo {
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
  position: relative;
  width: 340px;
  z-index: initial;
}

#logo img {
  width: 100%;
}

#header {
  margin-bottom: 10px;
  border-bottom: 5px solid #96c8c8;
}

#main {
  margin-top: 0px;
}

.region-content {
  padding: 0px 20px;
}

html body.admin-menu {
  ;
  margin-top: 0px !important;
}

body.sidebar-first #post-content {
  min-width: 0px;
  width: 900px;
}

.item-list .pager {
  margin: 20px;
  ;
}

/*Front page content teaser*/
ul.inline li.socialmedia_share-default {
  margin: 0px;
}

.teaser-body-left {
  margin: 10px;
  width: 65%;
}

.teaser-image-right {
  width: 30%;
}

.teaser-image-right img {
  float: right;
  width: 280px;
}

.node-teaser {
  border-bottom: 5px solid #96c8c8;
}

#widgets-element-socialmedia_share-default a {
  margin: 10px;
}

#widgets-element-socialmedia_share-default img {
  width: 48px;
}

/*Blog Page changes*/
.node-blog {
  min-height: 500px;
}

.node-teaser {
  min-height: 0;
}

.blog-image-previews img {
  max-width: 300px;
}

.fb-comments.fb_iframe_widget iframe {
  max-width: 600px;
}

/*Main menu changes*/
#main-menu {
  margin: 0px;
  padding: 0px;
  width: 930px;
}

#main-menu li {
  width: 310px;
}

#main-menu .menu {
  margin-bottom: 0px;
}

#main-menu .menu a {
  font-size: 24px;
  padding: 0.8em 0.5em;
}

#navigation {
  border: 0px;
  float: right;
  height: auto;
  position: relative;
  width: 930px;
}

/* Rescale sidebar and move below content*/
#sidebar {
  float: right;
  width: 380px;
}

#sidebar .block {
  margin: 6px auto 18px;
/* width: 250px;
   */;
}

#block-widgets-s-socialmedia-profile-default.block-widgets {
  width: 320px;
}

#block-widgets-s-socialmedia-profile-default.block-widgets a {
  margin: 10px;
  width: 48px;
}

#block-widgets-s-socialmedia-profile-default.block-widgets img {
  width: 48px;
  ;
}

#sidebar .block-blog {
  width: 320px;
}

#sidebar .block h2 {
  border-bottom: 5px solid #96c8c8;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

#widgets-element-socialmedia_profile-default {
  padding: 0px 20px 0px 0px;
  width: 320px;
}

#block-widgets-s-twitter-user-timeline-widget.block,
#block-widgets-s-facebook-like-box.block {
  float: left;
  margin: 5px 0px;
  padding: 0px 0px 0px 30px;
  min-width: 0px;
  width: 260px;
}

/* Hide additional redundant links in mobile mode*/
ul.inline li.node-readmore,
ul.inline li.blog_usernames_blog {
  display: none;
}

/*resize links section*/
.friends-logos {
  margin: 10px;
  min-width: 0px;
  padding: 0px;
  width: 98%;
}

.our-friends-header h2 {
  float: left;
  margin: auto;
  text-align: center;
  width: 160px;
}

.our-friends-hr {
  width: 550px;
}

/*EU cookie compliance popup*/
#sliding-popup {
  left: 0;
}

#sliding-popup .popup-content {
  max-width: 1280px;
  margin: 0px 10px;
}

#sliding-popup .popup-content #popup-text,
#sliding-popup .popup-content #popup-text p {
  margin-bottom: 5px;
}

#sliding-popup .popup-content #popup-buttons button {
  font-size: 26px;
  width: 200px;
  margin: 15px 50px;
}

#sliding-popup {
  min-height: 30%;
  ;
}

#sliding-popup .popup-content #popup-text h2 {
  font-size: 30px;
}

#sliding-popup .popup-content #popup-text p {
  font-size: 24px;
}

/*Sizing for homepage slideshow,
slider currently hidden pending re-theming*/
.image_reel {
  left: 0px;
  position: absolute;
  top: 0px;
}

.main_view {
  float: left;
  position: relative;
}

.window {
  height: 165px;
  overflow: hidden;
  position: relative;
  width: 480px;
}

#slider {
  display: none;
  height: 180px;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 480px;
}

/*Staffing page css*/
.view-staff .col-first,
.view-staff .col-last {
  float: right;
}

.view-staff td {
  width: 90%;
}

.view-staff table {
  width: 90%;
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  #logo {
    width: 340px;
    margin-right: 10px;
  }

  #navigation,
  #main-menu {
    width: 660px;
  }

  #main-menu li {
    width: 220px;
  }

  body {
    font-size: 20px;
  }

  body.sidebar-first #post-content {
    width: 644px;
  }

  .fb-comments.fb_iframe_widget iframe {
    max-width: 600px;
  }

  .our-friends-hr {
    width: 430px;
  }

  .form-text {
    width: 300px;
    max-width: 460px;
  }

  #sliding-popup .popup-content {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }

  #sliding-popup .popup-content #popup-buttons button {
    font-size: 22px;
    margin: 20px 13px;
  }

  #sliding-popup .popup-content #popup-text h2 {
    font-size: 28px;
  }

  #sliding-popup .popup-content #popup-text p {
    font-size: 20px;
  }

  .teaser-body-left {
    margin: 10px;
    width: 60%;
  }

  .teaser-image-right {
    width: 28%;
  }

  .teaser-image-right img {
    float: right;
    width: 200px;
  }
}

@media all and (max-width: 960px) {
  #logo {
    width: 290px;
    margin-right: 10px;
  }

  #navigation,
  #main-menu {
    width: 660px;
  }

  #main-menu li {
    width: 220px;
  }

  #main-menu .menu a {
    font-size: 22px;
  }

  #wrap {
    width: 960px;
  }

  body {
    font-size: 20px;
  }

  body.sidebar-first #post-content {
    width: 600px;
  }

  .region-content {
    padding: 5px;
  }

  .submitted {
    width: 600px;
  }

  #sidebar {
    width: 320px;
  }

  .fb-comments.fb_iframe_widget iframe {
    max-width: 600px;
  }

  .our-friends-hr {
    width: 398px;
  }

  .form-text {
    width: 300px;
    max-width: 460px;
  }

  #sliding-popup {
    min-height: 25%;
  }

  #sliding-popup .popup-content {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }

  #sliding-popup .popup-content #popup-buttons button {
    font-size: 22px;
    margin: 20px 13px;
  }

  #sliding-popup .popup-content #popup-text h2 {
    font-size: 28px;
  }

  #sliding-popup .popup-content #popup-text p {
    font-size: 20px;
  }

  .teaser-body-left {
    margin: 10px;
    width: 60%;
  }

  .teaser-image-right {
    width: 28%;
  }

  .teaser-image-right img {
    float: right;
    width: 200px;
  }

  #block--managed-4.block {
    margin: 0px;
  }

  #sidebar .block {
    margin: 0px;
  }

  #sidebar .block .adsense {
    margin: 0px;
    width: 20px;
  }

  #sidebar .block-blog,
  #widgets-element-socialmedia_profile-default {
    width: 280px;
  }

  .fb_iframe_widget_fluid span {
    max-width: 200px;
  }
}

@media all and (max-width: 800px) {
  #logo {
    width: 290px;
    margin-right: 10px;
  }

  #navigation,
  #main-menu {
    width: 500px;
  }

  #main-menu li {
    width: 250px;
  }

  #main-menu .menu a {
    font-size: 22px;
  }

  #wrap {
    width: 800px;
  }

  body {
    font-size: 20px;
  }

  body.sidebar-first #post-content {
    width: 800px;
  }

  .region-content {
    padding: 5px;
  }

  .submitted {
    width: 500px;
  }

  #sidebar {
    width: 800px;
  }

  .fb-comments.fb_iframe_widget iframe {
    max-width: 600px;
  }

  .our-friends-hr {
    width: 318px;
  }

  .form-text {
    width: 300px;
    max-width: 460px;
  }

  #sliding-popup {
    min-height: 20%;
  }

  #sliding-popup .popup-content {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }

  #sliding-popup .popup-content #popup-buttons button {
    font-size: 22px;
    margin: 20px 13px;
  }

  #sliding-popup .popup-content #popup-text h2 {
    font-size: 28px;
  }

  #sliding-popup .popup-content #popup-text p {
    font-size: 20px;
  }

  .teaser-body-left {
    margin: 10px;
    width: 60%;
  }

  .teaser-image-right {
    width: 28%;
  }

  .teaser-image-right img {
    float: right;
    width: 200px;
  }

  #block--managed-4.block {
    margin: 0px;
  }

  #sidebar .block {
    margin: 10px 40px;
    padding: 0;
    width: 320px;
    float: left;
  }

  #sidebar .block-blog {
    margin: 0px 220px;
  }

  #widgets-element-socialmedia_profile-default {
    width: 280px;
  }

  .fb_iframe_widget_fluid span {
    max-width: 200px;
  }
}

@media all and (max-width: 768px) {
  #logo {
    width: 260px;
    margin-right: 10px;
  }

  #navigation,
  #main-menu {
    width: 498px;
  }

  #main-menu li {
    width: 249px;
  }

  #main-menu .menu a {
    font-size: 22px;
  }

  #wrap {
    width: 768px;
  }

  body {
    font-size: 20px;
  }

  body.sidebar-first #post-content {
    width: 768px;
  }

  .region-content {
    padding: 5px;
  }

  .submitted {
    width: 500px;
  }

  #sidebar {
    width: 768px;
  }

  .fb-comments.fb_iframe_widget iframe {
    max-width: 600px;
  }

  .our-friends-hr {
    width: 302px;
  }

  .form-text {
    width: 300px;
    max-width: 460px;
  }

  #sliding-popup {
    min-height: 20%;
  }

  #sliding-popup .popup-content {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }

  #sliding-popup .popup-content #popup-buttons button {
    font-size: 22px;
    margin: 20px 13px;
  }

  #sliding-popup .popup-content #popup-text h2 {
    font-size: 28px;
  }

  #sliding-popup .popup-content #popup-text p {
    font-size: 20px;
  }

  .teaser-body-left {
    margin: 10px;
    width: 60%;
  }

  .teaser-image-right {
    width: 28%;
  }

  .teaser-image-right img {
    float: right;
    width: 200px;
  }

  #block--managed-4.block {
    margin: 0px;
  }

  #sidebar .block {
    margin: 10px 30px;
    padding: 0;
    width: 320px;
    float: left;
  }

  #sidebar .block-blog {
    margin: 0px 220px;
  }

  #widgets-element-socialmedia_profile-default {
    width: 280px;
  }

  .fb_iframe_widget_fluid span {
    max-width: 200px;
  }
}

@media all and (max-width: 640px) {
  .form-text {
    width: 400px;
    max-width: 600px;
  }

  .node {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .submitted {
    font-size: 16px;
    width: 400px;
  }

/*Page outline elements*/
  #wrap {
    width: 640px;
  }

  body {
    font-size: 18px;
  }

  h2,
  h3 {
    margin: 0px 2px;
  }

  #logo {
    width: 200px;
  }

  .region-content {
    padding: 0px 5px;
  }

  body.sidebar-first #post-content {
    width: 640px;
  }

/*Front page content teaser*/
  .teaser-image-right img {
    float: none;
  }

  ul.inline li.socialmedia_share-default {
    margin: 0px;
  }

  .teaser-body-left {
    display: block;
    margin-top: 2px;
    width: 100%;
  }

  .teaser-image-right {
    display: block;
    margin: 0px;
    width: 100%;
  }

  .node-teaser {
    border-bottom: 5px solid #96c8c8;
  }

/*Blog Page changes*/
  .blog-image-previews img {
    max-width: 260px;
  }

  .fb-comments.fb_iframe_widget iframe {
    max-width: 600px;
  }

  .node-blog {
    min-height: 420px;
  }

  .node-blog.node-teaser {
    min-height: 0px;
  }

/*Main menu changes*/
  #main-menu {
    margin: 0px;
    padding: 0px;
    width: 430px;
  }

  #main-menu li {
    width: 215px;
  }

  #main-menu .menu {
    margin-bottom: 0px;
  }

  #main-menu .menu a {
    font-size: 20px;
    padding: 0.8em 0.5em;
  }

  #navigation {
    border: 0px;
    float: right;
    height: auto;
    position: relative;
    width: 430px;
  }

/* Rescale sidebar and move below content*/
  #sidebar {
    width: 640px;
  }

  #block-widgets-s-twitter-user-timeline-widget,
  #block-widgets-s-facebook-like-box {
    float: left;
    padding: 0px 30px;
    min-width: 260px;
  }

  #sidebar .block {
    margin: 10px 5px;
    padding: 0;
    width: 300px;
    float: left;
  }

  #sidebar .block-blog {
    margin: 0px 160px;
  }

  #widgets-element-socialmedia_profile-default {
    width: 280px;
  }

/*resize links section*/
  .friends-logos {
    margin: 0px;
    min-width: 0px;
    padding: 0px;
    width: 100%;
  }

  .our-friends-header h2 {
    float: left;
    margin: auto;
    text-align: center;
    width: 160px;
  }

  .our-friends-hr {
    width: 238px;
  }

/*EU cookie compliance popup*/
  #sliding-popup .popup-content {
    max-width: 95%;
  }

  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 5px;
  }

  #sliding-popup .popup-content #popup-buttons button {
    font-size: 22px;
    width: 130px;
    margin: 5px 5px;
  }

  #sliding-popup {
    min-height: 35%;
  }

  #sliding-popup .popup-content #popup-text h2 {
    font-size: 22px;
  }

  #sliding-popup .popup-content #popup-text p {
    font-size: 18px;
  }

/*Sizing for homepage slideshow,
slider currently hidden pending re-theming*/
  .image_reel {
    left: 0px;
    position: absolute;
    top: 0px;
  }

  .main_view {
    float: left;
    position: relative;
  }

  .window {
    height: 165px;
    overflow: hidden;
    position: relative;
    width: 480px;
  }

  #slider {
    display: none;
    height: 180px;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 480px;
  }
}

@media all and (max-width: 480px) {
  #navigation,
  #main-menu,
  #main-menu li {
    width: 270px;
  }

  #wrap {
    width: 100%;
  }

  body.sidebar-first #post-content,
  #sidebar {
    width: 480px;
  }

  #widgets-element-socialmedia_profile-default {
    width: 320px;
  }

  .fb-comments.fb_iframe_widget iframe {
    max-width: 460px;
  }

  #logo {
    margin-right: 10px;
  }

  #block-widgets-s-twitter-user-timeline-widget,
  #block-widgets-s-facebook-like-box {
    float: initial;
    padding: 0px 10px;
  }

  .our-friends-header h2 {
    width: 160px;
  }

  .our-friends-hr {
    width: 158px;
  }

  .form-text {
    width: 300px;
    max-width: 460px;
  }

  #sliding-popup {
    min-height: 40%;
  }

  #sidebar .block {
    float: initial;
    margin: 10px auto;
  }

  #sliding-popup .popup-content {
    max-width: 480px;
  }

  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }

  #sliding-popup .popup-content #popup-buttons button {
    margin: 2px 10px;
    font-size: 18px;
  }

  #sliding-popup .popup-content #popup-text h2 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
  }

  #sliding-popup .popup-content #popup-text p {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
  }
}

@media all and (max-width: 360px) {
  .submitted {
    font-size: 16px;
    width: 80%;
  }

  #widgets-element-socialmedia_share-default a,
  #block-widgets-s-socialmedia-profile-default.block-widgets a {
    margin: 5px 10px;
  }

  #widgets-element-socialmedia_share-default img,
  #block-widgets-s-socialmedia-profile-default.block-widgets img {
    width: 32px;
  }

  body.sidebar-first #post-content,
  #navigation,
  #main-menu,
  #main-menu li,
  #sidebar {
    width: 360px;
  }

  #widgets-element-socialmedia_profile-default {
    width: 280px;
  }

  .fb-comments.fb_iframe_widget iframe {
    max-width: 340px;
  }

  #logo {
    margin-right: 120px;
  }

  #block-widgets-s-twitter-user-timeline-widget,
  #block-widgets-s-facebook-like-box {
    padding: 0px 40px;
  }

  .our-friends-header h2 {
    width: 160px;
  }

  .our-friends-hr {
    width: 98px;
  }

  .form-text {
    width: 340px;
  }

  #sliding-popup .popup-content {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }

  #sliding-popup .popup-content #popup-buttons button {
    margin: 0px 13px;
  }
}

@media all and (max-width: 320px) {
  #widgets-element-socialmedia_share-default a,
  #block-widgets-s-socialmedia-profile-default.block-widgets a {
    margin: 5px 5px;
  }

  #widgets-element-socialmedia_share-default img,
  #block-widgets-s-socialmedia-profile-default.block-widgets img {
    width: 28px;
  }

  body.sidebar-first #post-content,
  #navigation,
  #main-menu,
  #main-menu li,
  #sidebar {
    width: 320px;
  }

  #widgets-element-socialmedia_profile-default {
    width: 260px;
  }

  .fb-comments.fb_iframe_widget iframe {
    max-width: 300px;
  }

  #logo {
    margin-right: 120px;
  }

  #block-widgets-s-twitter-user-timeline-widget,
  #block-widgets-s-facebook-like-box {
    padding: 0px 20px;
  }

  .our-friends-header h2 {
    width: 160px;
  }

  .our-friends-hr {
    width: 77px;
  }

  .form-text {
    width: 300px;
  }

  #sliding-popup .popup-content {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }

  #sliding-popup .popup-content #popup-buttons button {
    margin: 0px 13px;
  }
}

@media all and (max-width: 480px) {
  #admin-menu-wrapper {
    display: none;
  }
}
